.link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
  border-radius: 1.6rem;
  border-color: #e3e5e8;
  text-decoration: none;
  outline: none;
  margin-bottom: 2.4rem;
  height: 10.5rem;
  /* flex-basis: 16%; */
  width: 15%;
}

.link:hover {
  border-color: #0271e1;
}

.icon {
  width: 4rem;
  height: 4rem;
  fill: #0271e1;
}

.title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0271e1;
  margin: 0;
}

/* @media (min-width: 961px) {
  .link {
    width: 15%;
  }
}

@media (min-width: 601px) {
  .link {
    width: 22%;
  }
}

@media (max-width: 601px) {
  .link {
    width: 35%;
  }
} */
