.link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 1.6rem;
  border-color: var(--border-color);
  text-decoration: none;
  outline: none;
  height: 10.5rem;
}

.link:hover {
  border-color: var(--primary-color);
}

.icon {
  width: 4rem;
  height: 4rem;
  fill: var(--primary-color);
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
  text-align: center;
  padding: 0 1rem;
}
